body {
    background-color: rgba(243, 229, 229, 0.52);
    padding:10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

body .text-danger {
    font-weight: bold;
    font-size: 20px
}

.mainContainer {
    background-color: rgba(245, 222, 179, 0.6313725490196078);
    border: solid 2px;
    border-color: rgb(236, 184, 184);
    border-radius: 15px;
    padding: 20px;
    margin: 20px
}

/*.meritContainer {
    background-color: rgba(245, 222, 179, 0.6313725490196078);
    border: solid 2px;
    border-color: rgb(236, 184, 184);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}*/
.row {
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgb(96, 99, 99);
}

.table, tr, th {
    padding: 50px;
    margin: 20px;
    margin-right: 20px;
    max-width: 90%;
    border: 1px solid rgb(247, 247, 247);
    table-layout: fixed;
}


    .table thead > tr > th {
        padding: 4px;
        font-size: 13px;
    }

#meritTableId {
    width: 100%;
    margin: 20px;
    margin-left: 0px;
    table-layout: fixed
}

.checkbox {
    margin-top: 20px;
}


.loandes {
    margin-bottom: 0px;
}
.row.loan{
    margin-top: 0px;
}

.btn {
    background-color: rgb(131, 202, 174);
    color: rgb(251, 251, 251);
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: solid 2px;
    border-color: rgb(236, 184, 184);
}

.form-control {
    border-color: rgb(236, 184, 184);
}

.field-validation-error{
    color:red;
}

.input-validation-error {
    border: 2px solid red;
}

input, select, textarea {
    max-width: 100%;
}

